<%- include('../front/header.ejs') %>
<div class="container"style="padding-top: 140px!important;" >
    <table class="table table-bordered table-striped">
        <tbody class="text-center">
            <tr>
                <th>S.No.</th>
                <th>Name</th>
                <th>Email</th>
                <th>College</th>
                <th>Course</th>
                <th>Branch</th>
                <th>Actions</th>
            </tr>
            <tr>
                <% var i = 1 %>
                <% adata.forEach((t)=>{ %>
                    <tr>
                        <td>
                            <%= i++ %>
                        </td>
                        <td>
                            <%= t.name %>
                        </td>
                        <td>
                            <%= t.email %>
                        </td>
                        <td>
                            <%= t.college %>
                        </td>
                        <td>
                            <%= t.course %>
                        </td>
                        <td>
                            <%= t.branch %>
                        </td>
                        <td>
                            <a href="/admin/blog_view/<%= t._id %>" class="btn btn-info btn-sm action-btn"><i class="fa-solid fa-eye"></i></a>
                            <a href="/admin/blog_edit/<%= t._id %>" class="btn btn-info btn-sm action-btn" ><i class="fa-regular fa-pen-to-square"></i></a>
                            <a href="/admin/delete_blog/<%= t._id %>" class="btn btn-info btn-sm action-btn" ><i class="fa-solid fa-trash"></i></a>
                        </td>
                    </tr>
                    <% }) %>
            </tr>
        </tbody>
       
       
    </table>
</div>
<div class="my-4 text-center">
    <a href="/dashboard" class="backdash">Back To The Dashboard</a>
</div>
    <%- include('../front/footer.ejs') %>